<template>
  <div class="vld-parent">
    <loading :active="isLoading" />
  </div>
</template>

<script setup>
import Loading from "vue3-loading-overlay";
import "vue3-loading-overlay/dist/vue3-loading-overlay.css";

const props = defineProps({
  isLoading: Boolean,
});

</script>
