<template>
<div>
  <Loading :isLoading="isLoading" />
  <div class="row justify-content-center">
    <div class="col-12 text-center p-4">
      <RaceTypeFilter class="justify-content-center" @filter="setFilters" />
    </div>
    <div class="col-lg-4 col-md-10 col-sm-10">
      <NextRaceWidget v-if="raceFound" :race="filteredRace" />
    </div>
  </div>
</div>
</template>

<script setup>
import NextRaceWidget from "../components/NextRaceWidget.vue";
import RaceTypeFilter from "../components/RaceTypeFilter.vue";
import Loading from '../../shared/Loading.vue'
import { computed, ref, onMounted } from "vue";
import { useFilter } from '../helpers/useFilter'
import { useSelectMax } from '../helpers/useSelectMax'
import { useStore } from "vuex";

const races = ref([]);

const store = useStore();
const { filterByRaceType, setFilters } = useFilter();
const { selectMaxPurse } = useSelectMax();
const isLoading = computed(() => store.getters["isLoading"]);

onMounted(async () => {
  await store.dispatch("races/fetchRaces");
  races.value = computed(() => store.getters["races/races"]).value;
});

const filteredRace = computed(() => { 
    return selectMaxPurse(filterByRaceType(races.value))
});

const raceFound = computed(() => { 
    return filteredRace.value.id_race
});

</script>
