<template>
  <div class="border border-dark pb-2 border-2">
   <div class="d-flex justify-content-between align-items-center p-2 bg-dark text-white">
      <div class="d-flex justify-content-between align-items-center">
        <img class="me-2 flag-icon" :src="'https://countryflagsapi.com/png/'+race.event.country"  />
        <span><b>{{race.event.title}}</b></span>
      </div>
      <span>{{ time }}min</span>
    </div>

    <hr class="text-gray m-0">

    <div class="d-flex justify-content-between align-items-center p-2 mb-2 bg-dark text-white">
      <div>
        <span class="me-1">{{race.num_runners}} runners | </span>
        <span class="me-1">{{race.distance}}m | </span>
        <span>{{race.purse.amount}} {{race.purse.currency}}</span>
      </div>
      <div>
        <img class="race-type-icon" :src="raceTypeIcon" />
      </div>
    </div>

    <div v-for="(runner, index) in race.runners" :key="runner.id_runner" class="ps-2 pe-2">
      <div class="d-flex justify-content-between align-items-center">
      <div>
        <img class="me-1" v-show="runner.silk" :src="getSilkImage(runner.silk)" />
        {{ runner.name }}
      </div>
      <button type="button" class="btn btn-warning runner-odds">{{runner.odds}}</button>
      </div>
      <hr v-show="index != Object.keys(race.runners).length - 1" class="border-dark">
    </div>
  </div>
</template>

<script setup>
import { computed, ref, onMounted } from "vue";
import { useStore } from 'vuex';
import { useTimeCalculator } from '../helpers/useTimeCalculator'
import dayjs from 'dayjs';

const props = defineProps({
  race: Object,
});

const { substractWithNowTime } = useTimeCalculator();
const store = useStore()
const raceTypes = ref([])

onMounted(async () => {
  raceTypes.value = await computed(() => store.getters['races/raceFilters']).value
});

const time = computed(() => { 
    //Assuming that the race date I get from the database is higher than the current time by a little time.
    return substractWithNowTime(dayjs.unix(props.race.post_time)).minute()
});

const raceTypeIcon = computed( () => {
      if(raceTypes.value.length){
        const raceIcon =  raceTypes.value.find(raceType => raceType.value === props.race.race_type).icon

        return  new URL(`../../../assets/img/race-types/${raceIcon}`, import.meta.url).href
      }   
});

function getSilkImage(silk){
  return  new URL(`../../../assets/img/silks/${silk}`, import.meta.url).href
};

</script>

<style scoped>
.race-type-icon {
  filter: invert(100);
}

.runner-odds {
  min-width: 3rem;
}

.flag-icon {
  max-width: 1rem;
  max-height: 1.3rem;
  min-height: 0.8rem;
}
</style>
