<template>
<div>
<div v-for="filter in optionFilters" :key="filter.value" class="form-check form-check-inline">
  <input 
  class="form-check-input" 
  type="checkbox" 
  :id="filter.value" 
  :value="filter.value"
  v-model="activeFilters" 
  @change="handleFilter">
  <label class="form-check-label" :for="filter.value">{{filter.title}}</label>
</div>
</div>
</template>

<script setup>
import { computed, ref, onMounted } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
const emit = defineEmits(['filter'])

const optionFilters = computed(() => store.getters['races/raceFilters'])
const activeFilters =  ref([])

onMounted(async ()=> {
  optionFilters.value.forEach( filter => {
      if(filter.default){
        activeFilters.value.push(filter.value)
      }
  });
  handleFilter()
})

function handleFilter(){
  emit('filter', activeFilters)
}

</script>

<style lang="scss" scoped>

</style>